.git
node_modules
vendor
.pnpm-store
.env*
!.env.example
!.env.ci
.blueprintrc
*.blueprint
!.blueprint
.blueprint/tmp/*
.blueprint/dev/*
.blueprint/extensions/blueprint/private/db/is_installed
.blueprint/extensions/blueprint/private/db/version
public/assets/*
!public/assets/svgs/
!public/assets/svgs/**
public/build
public/hot
storage/logs/*
storage/framework/*
bootstrap/cache/*.php
