/vendor
*.DS_Store*
!.env.ci
!.env.example
.env*
.vagrant/*
.vscode/*
storage/framework/*
/.idea
/nbproject
/.direnv

node_modules
*.log
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.pnpm-store/
public/assets/manifest.json

# For local development with docker
# Remove if we ever put the Dockerfile in the repo
!docker-compose.example.yml
!docker-compose.example.yaml

# for image related files
/misc
.php-cs-fixer.cache
coverage.xml
resources/lang/locales.js
.phpunit.result.cache

/public/build
/public/hot
result

# Blueprint runtime state and local configuration.
.blueprintrc
*.blueprint
!.blueprint/
.blueprint/tmp/*
!.blueprint/tmp/.gitkeep
.blueprint/dev/*
!.blueprint/dev/.gitkeep
.blueprint/extensions/blueprint/private/db/is_installed
.blueprint/extensions/blueprint/private/db/version
.blueprint/lib
!scripts/commands/misc
.blueprint/dist/types/*
!.blueprint/dist/types/.gitkeep
public/extensions/blueprint
public/assets/extensions/blueprint
public/storage
.build-cache.json
